/* CSS declarations go here */

body {
  font-size: 16px;
}

a {
  cursor: pointer;
}

.todo-list {
  margin-top: 20px;
}

.todos {
  margin-left: 0;
  list-style: none;
}

.todo {
  padding: 5px 10px;
  margin-bottom: 5px;
  display: block;
  width: 200px;
  background: #eee;
}

.todo .todo-done {
  float: right;
}

.todo.completed {
  text-decoration: line-through; 
}